body{
  text-align: center;
    background: #E4F9F5;
}
h3{
  color:#11999E;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 1px;
}

p {
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.logo{
    height: 100px;
    width: 100px;
    position: absolute;
    top:5px;
    left: 20px;

}

.name{
  color: #66BFBF;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  margin-bottom: 1px;
  margin-top: 80px;
      position: absolute;
      left: 32%;
}

.webd{
  color: #66BFBF;
  text-align: center;
  font-size: 40px;
  font-family: 'Sacramento';
  margin-bottom: 1px;
    position: absolute;
    left: 45%;
    top: 160px;
}

.mountain{
  position: relative;
  top: 10px;
  height: 720px;
  width:100%;
}

.cloud-1{
  position: absolute;
    left: 5%;
    top: 80px;

}

.cloud-2{
  position: absolute;
  left: 80%;
}
.mypic{
  position: relative;
  height: 150px;
  width: 150px;
  top:20px;

}
.code-img{
  position: relative;
  height: 150px;
  width: 150px;
  top:20px;

}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row{
    width: 30%;
    margin: auto;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 20px;
  padding-bottom: 10px;
}

.btn {
  background: #11cdd4;

  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background: #30e3cb;

  text-decoration: none;
}
